@*@using s00119500.Models;*@
@model IEnumerable<s00119500.Models.Trips>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minimunNumberOfGuests)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minimunNumberOfGuests)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TripsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TripsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TripsId })
        </td>
    </tr>
}

</table>
